<nav class="navbar">
    <div class="container-header">
        <a href="" class="logo">Portfolio</a>
        <ul class="nav-menu">
            <li>
                <a href="/" class="nav-link"><i class="uil uil-estate"></i>Home</a>
            </li>
            <li>
                <a href="/pricing" class="nav-link"><i class="uil uil-usd-circle"></i>Pricing</a>
            </li>
            <li>
                <a href="/artikel" class="nav-link"><i class="uil uil-file-bookmark-alt"></i>Artikel</a>
            </li>
            <li>
                <a href="/about" class="nav-link"><i class="uil uil-cloud-info"></i>About</a>
            </li>
            <li>
                <a href="/contact" class="nav-link"><i class="uil uil-comment-alt-medical"></i>Contact</a>
            </li>
        </ul>
        <ul class="nav-icon">
            <a href="/artikel" class="nav-icon"><i class="uil uil-facebook-f"></i></a>
            <a href="/artikel" class="nav-icon"><i class="uil uil-twitter"></i></a>
            <a href="/artikel" class="nav-icon"><i class="uil uil-github"></i></a>
            <a href="/artikel" class="nav-icon"><i class="uil uil-linkedin"></i></a>
            <a href="/artikel" class="nav-icon"><i class="uil uil-instagram"></i></a></li>
    </div>
</nav>