<div class="container-home-layout">
    <div class="home-heading">
        <h3 class="intro">-Introduction</h3>
        <h1 class="head_one">Hello</h1>
        <h1 class="head_two">I'm Gebbi<br>Rusfansyah</h1>
        <p class="desc-head-home">Since starting my journey as a freelance designer and web developer about 2 years ago, I've been doing remote work for agencies, consulting for startups, and collaborating with tolerant people to create digital products.
        </p>
        <button type="button" class="btn btn-primary">Contact Me</button>
    </div>
    <div class="home-layout">
        <div class="home-layout1"></div>
        <div class="home-layout2">
            <header class="header-layout2">
                <i class="uil uil-setting"></i>
                <h4 class="name-layout2">HTML</h4>
            </header>
            <div class="HomepageAnonHeaderHero_codeContent-I6nz5">
                <code>
                    <span class="HomepageAnonHeaderHero_cr-aN2bn">&lt;div</span> 
                    <span class="HomepageAnonHeaderHero_cy-JVLez">class</span>
                    <span>=</span>
                    <span class="HomepageAnonHeaderHero_cg-49xQf">"rect"</span>
                    <span class="HomepageAnonHeaderHero_cr-aN2bn">&gt;&lt;/div&gt;</span>
                </code>
            </div>
        </div>
        <div class="home-layout3">
            <header class="header-layout3">
                <i class="uil uil-setting"></i>
                <h4 class="name-layout3">SCSS</h4>
            </header>
            <div class="HomepageAnonHeaderHero_codeContent-I6nz5">
                <code>
                    <p class="HomepageAnonHeaderHero_line1-r-tWR">
                        <span class="HomepageAnonHeaderHero_cy-JVLez">.rect</span> <span>{</span>
                    </p>
                    <p class="HomepageAnonHeaderHero_line2-j1x2U">
                        <span class="HomepageAnonHeaderHero_cp-23ozZ">background</span>
                            <span>:</span>
                            <span class="HomepageAnonHeaderHero_cy-JVLez">linear-gradient</span>(
                    </p>
                    <p class="HomepageAnonHeaderHero_line3-pAv-x">
                    <span class="HomepageAnonHeaderHero_co-ACpm">-119deg</span>,</p>
                    
                    <p class="HomepageAnonHeaderHero_line4-wTffx"><span class="HomepageAnonHeaderHero_cy-JVLez">$gray</span> <span class="HomepageAnonHeaderHero_co-ACpm">0%</span>,</p>
                    
                    <p class="HomepageAnonHeaderHero_line5-b-wBt"><span class="HomepageAnonHeaderHero_cy-JVLez">$dark-gray</span> <span class="HomepageAnonHeaderHero_co-ACpm">100%</span>); }
                    </p>
                </code>
            </div>
        </div>
        <div class="home-layout4">
            <header class="header-layout4">
                <i class="uil uil-setting"></i>
                <h4 class="name-layout4">JS</h4>
            </header>
            <div class="HomepageAnonHeaderHero_codeContent-I6nz5">
                <code>
                    <span class="HomepageAnonHeaderHero_cy-JVLez">var</span> 
                    <span class="HomepageAnonHeaderHero_cb--MbF-">colors</span> = [<span class="HomepageAnonHeaderHero_cg-49xQf">"#74B087"</span>,<span class="HomepageAnonHeaderHero_cg-49xQf">"#DE7300"</span>,<span class="HomepageAnonHeaderHero_cg-49xQf">"#74B087"</span>];<br><br><span class="HomepageAnonHeaderHero_cc-Zftdz"></span><br><span class="HomepageAnonHeaderHero_cy-JVLez">function</span> <span class="HomepageAnonHeaderHero_cb--MbF-">animate</span>() {};
                </code>
            </div>
        </div>
    </div>
</div>