<html lang="en">
<%- include ('head') %>

    <body>
        <section class="container-home">
            <%- include ('header') %>
                <%- include ('home') %>
                    <%- include ('skill-section') %>
        </section>

    </body>

</html>