<section class="skill-section">
    <div class="skill-section-layout">
        <div class="skill-layout1">
            <h3 class="header-skill-layout1">Bring the Whole Team</h3>
            <p class="text-layout1">Each team and team member gets
                <strong>all the features of a <span class="BadgePro-module_root-rDljf Badge-module_root-73IPW" data-test-id="pro-badge" style="margin: 0px 2px; background-color: #ffdd40; color: black; padding: 0px 5px;">PRO</span> membership
                </strong>. That <br> means the Team can do things like upload Assets, use features like
                <strong> Collab Mode<br>
                </strong>, Professor Mode, Presentation Mode, and Live View, and apply custom CSS to <br> Posts, Profiles, and Embeds.
            </p>
            <button type="button" class="btn btn-primary" style="margin: 0px auto;">Contact Me</button>
        </div>
        <div class="skill-layout2"></div>
    </div>>
</section>